# To ignore files created by Visual Studio
.vs/

# Ignore Work In Progress folder
wip/

# Ignoring code snippets to save for later
snippets.txt

# Miscellanea
misc-notes.txt
template.html
scripts/bootstrap.js